.container
  display: flex
  flex-direction: column
  width: 60%
  height: auto
.textarea
  +fontLato()
  font-size: 17px
  border-radius: 10px
  width: 100%
h1
  +fontLato()
  color: white
  font-size: 42px  
label
  +fontLato()
  color: white
  font-size: 16px  
  